<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       ">

    <!--原始对象-->
    <bean id="us" class="com.zmq.service.UsersServiceImpl" />
    <!--辅助对象-->
    <bean id="myAspectJ" class="com.zmq.AspectJ.MyAspectJ" />
    <aop:config>
        <aop:aspect ref="myAspectJ">
            <aop:pointcut id="pt" expression="execution(java.lang.String *(java.lang.Integer))"/>
            <!--增强-->
            <aop:before method="aopBefore3" pointcut-ref="pt" />
            <aop:after method="aopAfter2" pointcut-ref="pt" />
        </aop:aspect>
    </aop:config>


</beans>