<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zmq.mapper.UserMapper">

    <select id="selectUserById" resultType="com.zmq.entity.User" parameterType="int">
        select name from test
        where id = #{id}
    </select>

    <select id="selectUserByIdAndAge" resultType="com.zmq.entity.User">
        select * from test
        where id = #{arg0} and age = #{arg1}
    </select>

    <!--使用concat拼接%-->
    <select id="selectUserByLikeName" resultType="com.zmq.entity.User">
        select * from test
        where name like concat('%',#{name},'%')
    </select>

    <select id="selectUserByMap" resultType="com.zmq.entity.User">
        select * from test
        where id = #{mId} and age = #{mAge}
    </select>

    <update id="updateUserById" parameterType="User">
        update test
        set name = #{name} ,age = #{age}
        where id = #{id}
    </update>

    <insert id="addUser" parameterType="User">
        insert into test
        values( null , #{name} , #{age} )
    </insert>

    <delete id="deleteUserById">
        delete from test
        where id = #{id}
    </delete>

    <!--主键回填   在添加完数据之后返回主键值-->
    <!--<insert id="addAfterGetId">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into test values (null, #{name}, #{age})
    </insert>-->
    <!--主键回填  方式2-->
    <insert id="addAfterGetId" keyProperty="id" useGeneratedKeys="true">
        insert into test values (null, #{name}, #{age})
    </insert>




    <!-- ************************动态SQL****************************** -->

    <!--sql标签测试-->
    <sql id="userSelectSql">
        select id,name,age
    </sql>
    <select id="selectUserById1" resultType="com.zmq.entity.User">
        <include refid="userSelectSql" />
        from test
        where id = #{id}
    </select>

    <!--where标签测试-->
    <select id="selectUserById2" resultType="com.zmq.entity.User">
        select id,name,age
        from test
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="age != null and age != ''">
                and age = #{age}
            </if>
        </where>
    </select>

    <!--set标签测试-->
    <update id="selectUserById3">
        update test
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--trim标签测试-->
    <!--<trim prefix="WHERE" prefixOverrides="AND|OR"> 增加WHERE前缀，自动忽略前缀 -->
    <select id="selectUserById4" resultType="com.zmq.entity.User">
        select id,name,age
        from test

        <trim prefix="where" prefixOverrides="and">
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="age != null and age != ''">
                and age = #{age}
            </if>
        </trim>
    </select>

    <!--foreach标签测试-->
    <select id="selectUserById5" resultType="com.zmq.entity.User">
        select id,name,age
        from test
        where id in
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>

    <select id="queryAllUser" resultType="com.zmq.entity.User">
        select * from test
    </select>
</mapper>