<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mb" class="com.zmq.bean.MyBean" ></bean>

    <bean id="userServiceImpl" class="com.zmq.service.UserServiceImpl" >
        <property name="userDao" ref="userDaoImpl" />
    </bean>

    <bean id="userDaoImpl" class="com.zmq.dao.UserDaoImpl"></bean>


    <!--依赖注入-->
    <bean id="user" class="com.zmq.entity.User">
        <property name="id" value="1" />
        <property name="password" value="123" />
        <property name="sex" value="man" />
        <property name="age" value="17" />
        <property name="bornDate" value="1975/5/5" />
        <!--定义数组-->
        <property name="hobbys">
            <array>
                <value>c</value>
                <value>t</value>
                <value>r</value>
                <value>l</value>
            </array>
        </property>

        <!--定义list集合-->
        <property name="names">
            <list>
                <value>zs</value>
                <value>ls</value>
                <value>ww</value>
                <value>zl</value>
            </list>
        </property>
        <!--定义set集合-->
        <property name="phones">
            <set>
                <value>10086</value>
                <value>10011</value>
                <value>10010</value>
                <value>100888</value>
            </set>
        </property>

        <!--定义map集合-->
        <property name="countries">
            <map>
                <entry key="cn" value="China" />
                <entry key="jp" value="Japen" />
                <entry key="k" value="kora" />
                <entry key="id" value="ind" />
            </map>
        </property>

        <!--定义properties对象-->
        <property name="files">
            <props>
                <prop key="1">aaa</prop>
                <prop key="2">bbb</prop>
                <prop key="3">ccc</prop>
                <prop key="4">ddd</prop>
            </props>
        </property>

        <property name="book" ref="book"></property>
    </bean>

    <bean id="book" class="com.zmq.entity.Book" >
        <property name="bName" value="javaTest" />
        <property name="bPrice" value="13.23" />
    </bean>

    <!--构造方法注入-->
    <bean id="book2" class="com.zmq.entity.Book">
        <constructor-arg name="bName" value="C++" />
        <constructor-arg name="bPrice" value="49.8" />
    </bean>


    <!--自动注入-->
<!--    <bean id="userService" class="com.zmq.service.UserServiceImpl" autowire="byType" />-->
<!--    <bean id="userDao" class="com.zmq.dao.UserDaoImpl" />-->

    <!--复杂对象注入-->
    <bean id="mfb" class="com.zmq.tools.MyFactoryBean" />
</beans>